@using Business.Models
@model IEnumerable<Vendedor>

@{
	ViewData["Title"] = "Index";
}

<h1 class="mt-4">Vendedores cadastrados</h1>

@if (!Model.Any())
{
	<div class="alert alert-info text-center mt-4">
		Nenhum vendedor cadastrado.
	</div>
}
else
{
	<table class="table">
		<thead>
			<tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ativo)
                </th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.UserId)
					</td>
                    <!-- Checkbox para ativar/desativar -->
                    <td>
                        <form asp-action="AtualizaAtivo" method="post">
                            <input type="hidden" name="id" value="@item.UserId" />
                            <input type="checkbox" name="ativo" value="true"
                                   onchange="this.form.submit()" @(item.Ativo ? "checked" : "") />
                        </form>
                    </td>
				</tr>
			}
		</tbody>
	</table>
}
